<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido al sistema de vuelos</h1>
    <ul>
        <li><a href="{% url 'register_flight' %}">Registrar vuelos</a></li>
        <li><a href="{% url 'list_flights' %}">Listar vuelos</a></li>
        <li><a href="{% url 'flight_stats' %}">Estadísticas de vuelos</a></li>
    </ul>
</body>
</html>
